.App {
  height: 100%;
  color: black;
  font-family: cursive;
  text-align: center
}

.cards-container{
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-shadow {
  box-shadow: 2px 3px 10px 2px grey;
}